extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 JORGE BUTRON

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Check out my projects from TeamTreehouse Tech Degree.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul.bigI

          li
            img(src='/static/HTML5.png')
            p Html
            li
                img(src='/static/css3.png')
                p CSS3
                li
                 img(src='/static/javascript.png')
                 p JavaScript
                 li
                   img(src='/static/nodejs.png')
                   p Node.js
                   li
                     img(src='/static/expressjs.png')
                     p Express
                     li
                       img(src='/static/pug.png')
                       p Pug(Jade)
                       li
                        img(src='/static/npm.png')
                        p npm
                        li
                          img(src='/static/jquery.png')
                          p jQuery
                          li
                            img(src='/static/github.png')
                            p Github
                            li
                              img(src='/static/cli.png')
                              p CLI
        h6 Contact Info

        //- Add your own contact info
        ul
          li 510-305-6383
          li jorgebutron90@gmail.com

        
        a.button.expanded(href='https://github.com/jorgebutron10', target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
